################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/WebAPI/appsettings.json
/src/WebAPI/appsettings.Development.json
# IDE
.vs/
.vscode/
*.user
*.suo

# Build çıktıları
**/bin/
**/obj/
**/out/